<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="forgot_style.css">
</head>
<body>
  <div class="container">
    <h2>Forgot password?</h2>
    <input type="email" placeholder="Enter your email address" />
    <p class="note">* We will send you a message to set or reset your password</p>
    <button>Submit</button>
  </div>
</body>
</html>
